@media (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .top-wrapper h1 {
  font-size: 25px;
  }

  .heading h2 {
    font-size: 20px;
    }

  .guru {
    width: 50%;
    margin-bottom: 50px;
  }

}

@media (max-width: 670px) {
  .lesson {
    width: 100%;
  }

  .guru {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  .btn {
    width: 100%;
  }

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper {
    text-align: left;
    padding-top: 130px;
  }

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper h1 {
    font-size: 20px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 10px;
    line-height: 20px;
  }

}
