* {
  box-sizing: border-box;
}

  body {
  margin: 0;
  font-family: "Raleway";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://user-images.githubusercontent.com/67097511/85489718-9d13e680-b5fa-11ea-9d32-d1116700583d.png);
  background-size: cover;
  max-width: 100%;
  height: auto;
  color: white;
}

.top-wrapper h1 {
  font-size: 35px;
  letter-spacing: 0px;
  margin: 0 auto;
}

.top-wrapper p {
  opacity: 1;
  font-size: 15px;
  letter-spacing: 0px;
  margin-top: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: #3498db;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 170px;
  float: left;
  padding: left;
  padding-right: 50px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-left a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-left a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.lesson-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff;
  text-align: center
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: bold;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: bottom;
  top: 44%;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  color: #535c68;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #535c68;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 50px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #3498db;
  cursor: pointer;
  box-shadow: 0 7px #1f608c;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.guru-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff;
  text-align: center
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: bold;
}

.guru {
  float: left;
  width: 25%;
}

.guru-icon {
  position: relative;
}

.guru-icon p {
  position: bottom;
  top: 44%;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  color: #535c68;
}

footer img {
  width: 125px;
}

footer p {
  color: white;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #3498db;
}
